<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Test01-edit</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
	<h1>編集画面</h1>
	<form th:action="@{/tests/{id}(id=*{id})}" th:method="put" th:object="${test}">
		<div class="form-group">
			<label class="control-label">名前</label>
			<input class="form-control" type="text" th:field="*{name}"></input>
		</div>
		<div class="form-group">
			<label class="control-label">コメント</label>
			<input class="form-control" type="text" th:field="*{content}"></input>
		</div>
		<button class="btn btn-dark" type="submit">更新</button>
	</form>
	<div>
		<a class="btn btn-link" th:href="@{/tests}">一覧画面へ</a>
	</div>
</div>
</body>
</html>